@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  padding-bottom: 70px;
  overflow-x: hidden;
background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

.container {
  max-width: 670px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
form input,
form textarea, #like-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
#like-input {
  padding: 0;
  position: relative;
  padding-bottom: 40px;
  font-weight: inherit;
}
form input:hover,
form textarea:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus,
form textarea:focus, #like-input:focus-within {
  background-color: white;
  border-radius: 27px;
  color: #53e3a6;
  overflow: hidden;
}
form button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	background-color: transparent;
	border: 2px solid #fff;
	padding: 10px 45px;
	color: #fff;
	border-radius: 1px;
	cursor: pointer;
	font-size: 18px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	text-transform: uppercase;
	letter-spacing: 1px;
	float: right;
	font-family: Arial;
	font-weight: 400;
}
form button:hover {
  background-color: #f5f7f9;
  color: #53e3a6;
}
.form-group {
  position: relative;
}
.form-group label {
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 8px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: #fff;
  opacity: .7;
}
#like-input + label {
  top: 50px;
}
.form-group input:focus ~ label, .form-group input:valid ~ label {
  left: -85px;
  font-size: 23px;
  opacity: 1;
}

#editor-container {
  font-family: inherit;
  width: 100%;
  overflow-y: auto;
  position: relative;
  top: 40px;
  left: 0;
}
#editor-container .ql-editor {
  font-size: 18px;
  height: 100%;
  font-weight: 300;
  font-family: inherit;
}
.ql-container.ql-snow {
  border: none;
}
.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #ccc;
  z-index: 5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.readonly, .readonly:hover, .readonly:active, .readonly:focus, #like-input.readonly {
  background-color: transparent;
  border: none;
  color: #fff;
}
.readonly + label {
  display: none;
}
.readonly.title {
  font-size: 32px;
}
#like-input.readonly .ql-toolbar {
  display: none;
}
#like-input.readonly #editor-container {
  top: 0;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
